body {
	margin: 20px;
	font: normal 100% Georgia;
}
img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
h1 {
	font-size: 2em;
}
h2 {
	border-bottom: 2px solid #126BAE;
	text-transform: uppercase;
	font-size: 1.125em;
}
p {
	margin: 7px 0;
}
ul{
	/* list-style-image: url('ul.jpg'); */
	clear: both;
}
ul, li {
	margin: 0;
	padding-left: 0.875em;
	text-align:justify;
}
#header {
	position: relative;
	padding-bottom: 10px;
	font-family: Centaur;
	text-align: center;
}
#header span {
	white-space: nowrap;
	border-right: 1px solid #c4cbcf;
	margin-right: -1px;
	padding: 0 10px;
	line-height: 150%;
	font-size: 1.25em;
	font-weight: bolder;
}
#header span:last-child {
	border: none;
	margin-right: 0;
}
/* 伪类间隔线 */
/* #header span:after {
	content: '';
    display: inline-block;
	margin: 0 10px;
    width: 1px;
    height: 14px;
    background-color: #D9D9D9;
    vertical-align: middle;
}
#header span:last-child::after {
	display: none;
} */
#h3 {
	font-weight: bolder;
}
.position, .date {
	float: right;
}
@media screen and (max-width: 670px) {
	img {
		position: relative;
		padding-top: 14px;
		width: 6.65%;
		height: auto;
	}
}
@media screen and (max-width: 505px) {
	body {
		font-size: 80%;
	}
	img {
		display: none;
	}
	#header span:first-child{
		display: block;
		border: none;
	}
}
	